* {
    font-family: serif;
    margin: 0;
}

header {
    background-color: crimson;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    word-spacing: 30px;
    padding: 10px;
}

.one {
    background-color: mistyrose;
    height: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: solid 1px crimson;
    display: flex;
}

.one img {
    height: 100%;
    float: left;
}

h4 {
    font-size: 180%;
    text-align: center;
    color: crimson;
}

img {
    max-width: 100%;
}

.two .oferty, .three .oferty {
    background-color: snow;
    height: 450px;
    width: 21%;
    margin: 1%;
    text-align: center;
    border: solid 1px crimson;
}

.two {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: crimson;
    color: white;
}