* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    background-color: navy;
    color: white;
    text-align: center;
    justify-content: center;
    justify-items: center;
    width: 50%;
    height: 100px;
    float: left;
}

menu {
    background-color: navy;
    padding: 20px;
}

.opcja {
    color: silver;
    margin-left: 6px;
    
}

input, button {
    margin-left: 50px;
}

button:hover {
    cursor: pointer;
}

.opcja:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

nav {
    width: 70%;
    float: left;
}

aside {
    width: 30%;
    float: right;
}

aside img {
    width: 90%;
}

nav, aside {
    background-color: azure;
    height: 550px;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
}

table {
    border: solid 1px navy;
    margin: auto;

}