* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /* justify-content: center;
    justify-items: center; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motocykl {
    width: 640px;
    display: block;
    left: 15%;
    z-index: -1;
    position: absolute;
    opacity: 70%;
}

header {
    opacity: 0.9;
    text-align: center;
    z-index: 1;
    position: relative;
    background-color: rgb(60,120,160);
    color: white;
    padding: 10px;
    width: 100%;
    height: auto;
    font-size: 150%;
}

.content {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 1;
}

.left {
    background-color: rgb(0,100,0);
    opacity: 0.6;
    margin: 2%;
    width: 75%;
    height: 600px;
    font-size: 120%;
    box-shadow: 10px 10px 7px 0 dimgray;
    overflow: auto;
}

.left span {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}

.right {
    margin: 2%;
    width: 25%;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#one, #two {
    background-color: rgb(0,100,0);
    opacity: 0.6;
    margin: 1%;
    width: 100%;
    height: 300px;
    box-shadow: 10px 10px 7px 0 dimgray;
}

#one span, #two span {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}

footer {
    width: 100%;
    text-align: center;
    background-color: rgb(60,120,160);
    padding: 10px;
    margin-top: 20px;
    color: white;
}

/* CONTENT */

.header_content{
    color: white;
}

a {
    color: white;
}

dd:hover {
   background-color:  lightgreen;
}